.container {
  padding: 0 2rem;
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
  flex: 1;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  font-size: 0.7rem;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-weight: bold;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0rem 2rem;
  line-height: 1.5;
  font-size: 0.8rem;
  font-weight: 300;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  width: 100%;
  padding: 0.75rem;
  font-size:0.9rem;
  margin-top: 1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 6rem;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 0.2rem 0;
  font-size: 1rem;
}

.card p {
  margin: 0;
  font-size: 0.5rem;
  line-height: 1.5;
}

.card span {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.input {
  margin: 0.2rem;
  padding: 0.4rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

button.button {
  margin: auto;
  width: 15rem;
  float: right;
  margin-top: 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  border-radius: 7px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  padding: 0.25rem 1rem;
  color: #fff;
  font-weight: 500;
  background: #0070f3;
}
